.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  /* max-width: 1200px; */
}

.card-product {
  position: relative;
  max-width: 400px;
  max-height: 880px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #124841;
  background-color: #fff;
  margin: 0 20px 20px 20px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.card-product:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 260px;
  object-fit: cover;
  /* border: 1px solid black; */
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.card-location {
  display: flex;
  align-items: center;
  color: #555;
  font-size: 14px;
}

.card-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.card-name {
  font-size: 15px;
  /* align-items: center; */
  text-align: center;
  margin: auto 50px;
}

.card-description {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 3px;
}

.card-description:hover {
  text-decoration: underline;
}

.card-rating {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 16px;
}

.star-icon {
  color: gold;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.tag-category {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: white;
  color: white;
}

.tag-cateName {
  width: 120px;
  background-color: #124841;
  padding: 5px;
  text-align: center;
  border-radius: 30px;
  font-size: 13px;
  margin-right: 10px;
}

.tag-skinType {
  width: 120px;
  background-color: #a87a24;
  padding: 5px;
  text-align: center;
  border-radius: 30px;
  font-size: 13px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #ddd;
  font-size: 14px;
  color: #555;
}

.card-price {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.addToCard {
  border-radius: 15px;
  background-color: #124841;
  height: 40px;
  width: 150px;
  font-size: 15px;
  color: white;
  border: none;
}

.addToCard:hover {
  background-color: #047c91;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.button-compare {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff5e57;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-compare:hover {
  background-color: #e84118;
}

.btn-addToCard a{
  font-size: 17px;
}