/* Banner Container */
.banner {
    position: relative;
    height: 80vh;
    background: url('../../../../assets/banners/banner1.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 5%;
    overflow: hidden;
    margin-top: -35px;
  }

  .banner-content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    color: #000;
    max-width: 50%;
    height: 100%; 
    z-index: 2;
  }
  
  .category {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
  }
  
  .shop-now {
    padding: 10px 20px;
    background-color: #f8e3b6;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .shop-now:hover {
    background-color: #e3c594;
  }
  
  /* Animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate {
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: both;
  }
  
  .animate:nth-child(1) {
    animation-delay: 0.2s;
  }
  
  .animate:nth-child(2) {
    animation-delay: 0.4s;
  }
  
  .animate:nth-child(3) {
    animation-delay: 0.6s;
  }
  
  .animate:nth-child(4) {
    animation-delay: 0.8s;
  }
  