/* Container chính */
.managerSkinQuestion-container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  max-width: 100%;
  padding: 20px;
  overflow: auto;
  scrollbar-width: none;
}

/* Header Manager */
.header-manager-skinQuestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Nút Thêm Mới */
.btn-addSkinQuestion {
  width: 180px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0ca678;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn-addSkinQuestion:hover {
  background-color: #1b7258;
  transform: scale(1.05);
}

/* Ô tìm kiếm */
.search-skinQuestion input {
  width: 200px;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Bảng hiển thị danh sách */
.table-skinQuestion-container {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.table-skinQuestion {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: left;
  border: 1px solid #ddd;
}

.table-skinQuestion th,
.table-skinQuestion td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.table-skinQuestion th {
  background-color: #f8f9fa;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.table-skinQuestion tbody tr:hover {
  background-color: #f1f1f1;
}

/* Trạng thái */
.status-active, .status-available {
  background-color: #d4f8e8;
  color: #0ca678;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.status-inactive {
  background-color: rgb(248, 79, 79);
  padding: 4px 8px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

/* Nút thao tác */
.btn-updateSkinQuestion,
.btn-removeSkinQuestion {
  border: none;
  margin-right: 5px;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.btn-updateSkinQuestion {
  background-color: #0ca678;
  color: white;
}

.btn-updateSkinQuestion:hover {
  background-color: white !important;
  color: #0ca678 !important;
  transform: scale(1.05);
}

.btn-removeSkinQuestion {
  background-color: #dc3545;
  color: white;
}

.btn-removeSkinQuestion:hover {
  background-color: white !important;
  color: #dc3545 !important;
  transform: scale(1.05);
}

/* Phân trang */
.ant-pagination {
  margin-top: 16px;
  text-align: center;
}
