.details-page{
    margin-left: 300px;
  margin-right: 300px;
}

.details-container {
  display: flex;
  max-width: 100%;
  margin-top: 140px;
  text-align: center;
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.details-grid {
  display: flex;
  flex-direction: row;
  gap: 40px;
  /* margin-top: 240px; */
}


.details-image {
  width: 500px; 
  height: 800px; 
  object-fit: cover; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Form right ********************************************************/
.details-form-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
}

.details-title {
  font-size: 25px;
  font-weight: bold;
  margin-left: -1px;
}

.details-price {
  font-size: 18px;
  color: red;
  font-weight: bold;
  margin-left: -1px;
}

.details-rating{
    font-size: 18px;
    margin-left: -1px;
}

.details-description {
  color: rgb(0, 0, 0);
  line-height: 1.5;
  margin-left: -1px;
}

.category-details {
  display: flex;
  flex-direction: row;
  padding: 10px;
  /* background-color: white; */
  color: white;
 
 
 }
 
 .details-cateName{
   width: 120px;
   height: 30px;
   background-color: #124841;
   padding: 5px;
   text-align: center;
   border-radius: 30px;
   font-size: 13px;
   margin-right: 10px;
 
 
 }
 
 .details-skinType{
   width: 120px;
   height: 30px;
   background-color: #a87a24;
   padding: 5px;
   text-align: center;
   border-radius: 30px;
   font-size: 13px;
   color: white;
 }
 


.add-to-card-details{
    display: flex;
    gap: 20px;
    margin-top: 70px;
}

.details-quantity{
    width: 100px;
    font-size: 25px;
    height: 40px;
    padding-left: 10px;
}

.btn-details{
    width: 200px;
    max-width: 100%;
    border: none;
    border: 0.2 solid gray;
    color: black;
    background-color: #ecdec1;
    font-size: 18px;
   
}

.btn-details:hover{
    color: white;
    background-color: black;
    transition: background-color 1000ms linear
}

/* PAYMENT BOX*************************************************************************** */
.safe-payment-box {
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-top: 30px;
    width: fit-content;
    background-color: #fdf7eb;
    position: relative;
}

.safe-payment-title {
    position: absolute;
    top: -12px;
    left: 15px;
    background-color: #fdf7eb;
    padding: 0 10px;
    font-weight: bold;
    font-size: 18px;
}

.payment-icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}

.payment-icons img {
    height: 30px;
    width: auto;
    object-fit: cover;
}


.details-element-wrap {
    /* border: 1px solid; */
    margin-top: 100px;
    width: 100%;
    max-height: 100%;
    background-color: #f4ece0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

.details-product-more{
    margin-top: 100px;
    text-align: center;
    
}


