.product-page .background-animation {
  background: url("../../../assets/banners/bannerProduct.png"), repeat;
  background-size: 110%;
  background-size: cover;
  /* background-position: 100%; */
  z-index: 1;
  overflow: hidden;
  /* max-height: 230px; */
  height: 480px;
  margin-top: -10px;
}

.product-page .product-content {
  /* display: flex; */
  border: none;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  height: 100%;

  /* border: 1px solid black; */

}

.sort-product{
  display: flex;
  justify-content: end;
  gap: 20px;
  margin-right: 100px;
}


/* filter sidebar */
.filter{
  /* margin-right: 100px; */
  margin-left: 80px;
  margin-top: 20px;
}


.main-content {
  display: flex;
  gap: -50px;
}

